@media (min-width: 1024px) {
 .img-fluid {
    position: relative;
    width: 100%;
 }
 .card {
position: relative;
height: 500px;
 }
 .card-img-top {
    position: relative;
    height: 300px;
 }
  }


   

    