@media (max-width: 767px) {
nav li a {
font-size: 18px;
} 
.img-fluid {
  position: relative;
  width: 100%;
}
.card {
  position: relative;
  height: 500px;
   }
   .card-img-top {
      position: relative;
      height: 300px;
   }
}